<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        
        {% endblock title %}
    </title>
    {% include "navbar.css" %}
    {% block extra_links %}
    
    {% endblock extra_links %}
</head>
<body>
    {% include "narbar.html" %}
    {% block content %}
        
    {% endblock content %}


    {% block extra_scripts %}
    
    {% endblock extra_scripts %}
</body>
</html>