<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    
    <link rel="stylesheet" href='{% static "css/navbar.css" %}'>
    {% block extra_links %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    {% endblock extra_links %}
</head>
<body>
    <header>
        {% include "navbar.html" %}
    </header>
    
    {% block side_bar %}
    
    {% endblock side_bar %}

    {% block content %}

    {% endblock content %}
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    {% include "footer.html" %}
    {% block extra_scripts %}
    
    {% endblock extra_scripts %}
</body>
</html>